.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-rose);
  color: var(--clr-light);
  padding: 0.5em 1.em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(255, 29, 72, 0.5),
    0 6px 6px rgba(255, 29, 72, 0.5),
    0 0 100px -10px var(--clr-rose);
}

.btn:hover {
  transform: translateY(-3px);
}